.page-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.menu, .header-contacts {
    gap: 50px;
}

.header-div {
    justify-content: space-between;
}

.header-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: block;
}

.header-navigation, .menu, .header-contacts, .header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.menu__link {
    color: var(--dark-text-color);
    transition: color var(--primary-transition);

    &:hover {
        color: var(--color-primary);
    }
}

.menu__link_pushed {
    position: relative;
    color: var(--color-primary);

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1.25%;
        background-color: var(--color-primary);
        border-radius: 2px;
    }
}



.header-contacts__tel, .header-contacts__mail {
    color: #757575;
    display: flex;
    gap: 10px;
    transition: color var(--primary-transition);
    align-items: center;
    
    &:hover {
        color: var(--color-primary);
    }
}

.header-contacts__icon {
    fill: #757575;

    .header-contacts__tel:hover &, .header-contacts__mail:hover & {
        fill: var(--color-primary);
    }
}

.header-contacts__mail-icon {
    width: 16px;
    height: 12px;
}

.header-contacts__tel-icon {
    width: 10px;
    height: 16px;
}